groq:
  victim: "REDACTED"
  attacker: "REDACTED"

fireworks:
  victim: "REDACTED"
  attacker: "REDACTED"

openai:
  victim: "REDACTED"
  attacker: "REDACTED"

openrouter:
  victim: "REDACTED"
  attacker: "REDACTED"
